@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #227C9D; /* swiss-teal */
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #F3F4F6; /* swiss-light-gray */
}

body {
  font-family: 'Nunito', 'Inter', sans-serif;
  background-color: #F3F4F6; /* Base background for the entire page */
}

/* Hide number input arrows */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

/* Global styles for settings form layout */
.form-label {
  @apply text-sm font-medium text-gray-700;
}

.form-input-container {
  @apply mt-1 md:mt-0; /* Stack on mobile, align on desktop */
}